/* * {
    box-sizing: border-box;
  } */
body{margin: 0px;font-family: Arial;height: 100%;}
.banner
{
    text-align: center;
}
.name
{
    font-size: 8vw;
}
.navbar
{
    display: flex;
    flex-direction: column;
    background-color: #333;
    justify-content: space-around;
    font-size: 5vh;
    color: #f2f5f2;
    align-items: center;
    height: 100%;
}
.navele
{
    text-decoration: none;
    color: white;
    display: none;
}
/*Responsice Nav_Bar*/
@media (min-width:700px) {
    .navbar
    {
        flex-direction: row;
        transition: height 3s;
    }
    .navele{display: block;}
    .navbar imgc
    {
        display: none;
    }
}